@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,700');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  color: #323232;
  background-color: thistle;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}
